<span class="contact-icon text-center">
  {% if site.scholar_userid %}<a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" target="_blank" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>{% endif %}
  {% if site.mastodon_url %}<a href="{{ site.mastodon_url }}" rel="me" target="_blank" title="Mastodon"><i class="fab fa-mastodon"></i></a>{% endif %}
  {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>{% endif %}
  -
  {% if site.orcid_id %}<a href="https://orcid.org/{{ site.orcid_id }}" target="_blank" title="ORCID"><i class="ai ai-orcid"></i></a>{% endif %}
  {% if site.arxiv_url %}<a href="{{ site.arxiv_url }}" target="_blank" title="Arxiv"><i class="ai ai-arxiv"></i></a>{% endif %}
  {% if site.linkedin_username %}<a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a>{% endif %}
  {% if site.publons_id %}<a href="https://publons.com/a/{{ site.publons_id }}/" target="_blank" title="Publons"><i class="ai ai-publons"></i></a>{% endif %}
  {% if site.research_gate_profile %}<a href="https://www.researchgate.net/profile/{{site.research_gate_profile}}/" target="_blank" title="ResearchGate"><i class="ai ai-researchgate"></i></a>{% endif %}
  {% if site.medium_username %}<a href="https://medium.com/@{{ site.medium_username }}" target="_blank" title="Medium"><i class="fab fa-medium"></i></a>{% endif %}
  {% if site.twitter_username %}<a href="{{ site.mastodon_url }}" rel="me" target="_blank" title="Mastodon"><i class="fab fa-mastodon"></i></a>{% endif %} <!-- just pointing to sigmoid now -->
  -
  {% if site.blog_url %}<a href="{{ site.blog_url }}" target="_blank" title="Computationally Thinking Blog"><i class="fas fa-pen-nib"></i></a>{% endif %}
  <a href="https://www.amazon.ca/Elements-Dimensionality-Reduction-Manifold-Learning/dp/3031106016/ref=sr_1_1?keywords=9783031106019&linkCode=qs&qid=1659572815&returnFromLogin=1&s=books&sr=1-1" target="_blank" title="Textbook"><i class="fas fa-book"></i></a>
</span>
